@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">OBS Controller</h1>
</div>

@section Scripts
{
    <script src="js/obs-controller.js" type="text/javascript" asp-append-version="true"></script>
}
