@model IndexViewModel
@{
    ViewData["Title"] = "Controller";
}

<div class="col-6 flex-column" id="scene-btn-list">
</div>
<div class="col-6">
</div>

<template id="t-scene-btn">
    <button onclick="changeSceneClicked(this)" data-scene-name="${name}" class="btn btn-lg btn-primary d-flex w-100 mb-2">${text}</button>
</template>

@section Scripts
{
    <script src="js/obs-controller.js" type="text/javascript" asp-append-version="true"></script>
}
